{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<div class="container mt-5 container-custom">
    <h2 class="text-center mb-4">{{ title }}.</h2>
    <h3 class="text-center mb-4">{{ message }}</h3>

    <div class="card">
        <div class="card-body">
            <p>
                Производственное предприятие «Изделия из металла» было основано в 1999 году. Основной сферой деятельности является изготовление сварных металлоконструкций.
            </p>
            <p>
                Сварные металлоконструкции - это неразборные изделия, изготовленные посредством применения сварного соединения. Данные элементы используются во многих сферах производства и строительства. Главное преимущество сварных металлоконструкций в том, что им не требуется дополнительные крепежные элементы (заклепки, болты и т.д.).
            </p>
            <p>
                С помощью сварки изготавливаются изделия разных форм, чего не всегда можно добиться скреплением отдельных частей. Сварные изделия отличаются высокой прочностью, легкостью в монтаже, надежностью, функциональностью и приемлемой стоимостью. Для разных видов строительства используются разные виды конструкции. Для изготовления металлических изделий мы используем сортовой металлопрокат горячей и холодной прокатки: трубы необходимой толщины с разным типом сечения, уголок, швеллер, тавр и двутавр и т.д.
            </p>
            <p>
                Виды сварных металлоконструкций:
                Наша компания производит следующие виды конструкций из металла для коммерческих целей или частного использования:
                <ul>
                    <li>лестницы и перила,</li>
                    <li>двери и калитки,</li>
                    <li>решетки на окна,</li>
                    <li>заборы и ограждения,</li>
                    <li>теплицы и парники,</li>
                    <li>козырьки и остановки,</li>
                    <li>гаражи и вагоны бытовки,</li>
                    <li>гаражные и садовые ворота,</li>
                    <li>качели, горки, карусели,</li>
                    <li>понтоны и причалы,</li>
                    <li>мангалы и коптильни,</li>
                    <li>печи и котлы,</li>
                    <li>баки из нержавеющей стали.</li>
                </ul>
            </p>
            <p>
                Наши специалисты выполняют сварку конструкций любой сложности, в том числе оригинального дизайна, позволяющего воплотить индивидуальный проект по эскизам, предоставленным заказчиком или специально разработанным нашими специалистами.
            </p>
            <p>
                Покраска ЛМК позволяет не только придать конструкциям соотносимый с общим стилем оформления эстетичный вид, но и защитить металлическую поверхность от негативных воздействий окружающей среды.
            </p>
            <p>
                Все изделия перед эксплуатацией проходят проверку на устойчивость, жесткость и прочность.
                Также наша компания занимается продажей отопительных и банных печей, котлов и каминов, дымоходов и комплектующих к ним.
            </p>
            <p>
                Наш девиз - клиент всегда прав!
            </p>
            <p>
                Звоните - и мы ответим на все Ваши вопросы! Мы всегда рады своим клиентам!
            </p>
        </div>
    </div>
</div>

{% endblock %}
