{% extends "app/layout.html" %}

{% block content %}

<div class="container-custom">
    <h1>{{ title }}</h1>
    <hr />
    <div>
        <h2>Видео-ролик 1</h2>
        <video src="/media/видео1.mp4" controls="controls" width="400" height="300" poster="/media/videopost1.jpg"></video>
    </div>
    <hr />
    <div>
        <h2>Видео-ролик 2</h2>
        <video src="/media/видео2.mp4" controls="controls" width="400" height="300" poster="/media/videopost2.jpg"></video>
    </div>
</div>

{% endblock %}